
.icon-location:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-comment-alt:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-thumbs-down:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-filled:before { content: '\e806'; } /* '' */